#uppertitle {
    height: 180px;
    background-color: #ffe7d2;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#uppertitleson {
    border: 2px solid black;
    height: 100%;
    width: 50%;
    padding-top: 80px;
    font-size: 30px;
    text-align: center;
}

#containerup1 {
    height: 350px;
    background-color: #ffe7d2;
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.threeblock {
    height: 100%;
    width: 20%;
    float: left;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.threeblock img {
    height: 50%;
}

#subcontainer1 {
    height: 450px;
    background-color: #ffe7d2;
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#subcontainer2 {
    height: 150px;
    background-color: #ffe7d2;
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subthreeblock {
    height: 100%;
    width: 20%;
    float: left;
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subthreeblock img {
    height: 70%;
}

.quoteblock {
    height: 100%;
    width: 20%;
    float: left;
    border: 2px solid black;
}

#containerdown1 {
    height: 350px;
    background-color: #ffe7d2;
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}